{% load static %}
<html>

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>Crear Transaccion</title>

  <!-- Template Main CSS File -->
  <link rel="stylesheet" href="/static/css/reset.css">
  <link rel="stylesheet" href="/static/css/main.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js" ></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/3.3.4/inputmask/inputmask.js" ></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/3.3.4/jquery.inputmask.bundle.js" ></script>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/3.3.4/css/inputmask.min.css" rel="stylesheet"/>
  
  <!-- CSS only -->
  <link rel="stylesheet" href="{% static 'css\carrito.css' %}">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>

<body>

  <header id="header" class="header fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">
      <a href="{% url 'inicio' %}" class="logo d-flex align-items-center me-auto me-lg-0">
        <h1>CBRS de Chile<span>.</span></h1>
      </a>
    </div>
  </header>

  <br>
  <br>
  <br>
  

  <div class="container">
    <div class="card align-items-center" style="width: auto">
      <div class="card-body">
        <h5 class="card-title">¡¡ATENCIÓN, ESTÁ SALIENDO DE NUESTRA PÁGINA WEB.!!</h5>
        {{ amount }}
        {{ response }}
        <img class="d-block mx-auto mb-4" src="{% static 'imagenes\LogoCBR.png' %}" alt="A" width="50%" height="50%">
        <form action="https://webpay3gint.transbank.cl/webpayserver/initTransaction" method="POST">
          {% csrf_token %}
          <input type="hidden" name="token_ws" value="{{token1}}"/>
          <input type="submit" value="Ir a Webpay" class="btn btn-primary"/>
        </form>
        <br>
        <a href="{% url 'carrito_pagar' %}"><button class="btn btn-secondary">Volver a nuestra página</button></a>
        <br><br>
      </div>
    </div>
  </div>

  <br><br><br>

  <footer>
    <p class="copyright">&copy Copyright Ministerio de Vivienda y Urbanismo - 2022</p>
  </footer>

</body>
</html>