{% extends 'templates\base.html' %}
{% load static %}
{% block content %}

<main>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>


<div class = "container">
  <div class = "row">
    <div class ="d-grid gap-2 col-sm-3 mx-auto search">
      <form method = "get">
        <div id ="custom-search-input">
          <div class="input-group col-sm-3">
            <input type="text" class="form-control" placeholder="Año" name="buscar_anno">
            <span class="input-group-list">
              <i class="icon icon-search"></i>
              
            </span>
          </div>
        </div>
      </form>
    </div>
    <div class ="d-grid gap-2 col-sm-3 mx-auto search">
      <form method = "get">
        <div id ="custom-search-input">
          <div class="input-group col-sm-3">
            <input type="text" class="form-control" placeholder="Foja" name="buscar_foja">
          </div>
        </div>
      </form>
    </div>
    <br>
    
    <div class ="d-grid gap-2 col-sm-3 mx-auto search">
      <form method = "get">
        <div id ="custom-search-input">
          <div class="input-group col-sm-3">
            <input type="text" class="form-control" placeholder="Rut" name="buscar_rut">
            <span class="input-group-list">
              <i class="icon icon-search"></i>
            </span>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<br>
<br>
<br>
<div class="d-grid gap-2 col-4 mx-auto">
  <button class="btn btn-info" type="button">Buscar</button>
</div>
    


</main>
{% endblock %}