<!doctype html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="static/css/director.css">
    <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Amatic+SC:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Inter:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link rel="stylesheet" href="static/css/reset.css">
  <link rel="stylesheet" href="static/css/styles_inicio.css">
  <link rel="stylesheet" href="static/css/main.css">
  <!-- CSS only -->
  <script src="https://kit.fontawesome.com/eb496ab1a0.js" crossorigin="anonymous"></script>
</head>
 
<body>

  <header id="header" class="header fixed-top d-flex align-items-center">

    <div class="container d-flex align-items-center justify-content-between">

      <a href="inicio.html" class="logo d-flex align-items-center me-auto me-lg-0">
        <h1>CBRS de Chile<span>.</span></h1>
      </a>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a href="#hero">Inicio</a></li>
          <li><a href="#about">Misión</a></li>
          <li><a href="#menu">Contacto</a></li>
          <li class="dropdown"><a href="#"><span>Trámites en línea</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
            <ul>
              <li><a href="#">Inscripción de Propiedad</a></li>
              <li><a href="#">Inscripción de Comercio</a></li>
              <li><a href="#">Estudio de títulos (10 años)</a></li>
              <li><a href="#">Copia de Inscripción de propiedad o comercio con Vigencia</a></li>
              <li><a href="#">Copia de Inscripción de propiedad o comercio sin Vigencia</a></li>
              <li><a href="#">Certificado de Hipotecas, Gravámenes y Prohibiciones</a></li>
              <li><a href="#">Certificado de Deslindes</a></li>
            </ul>
          </li>
          <li class="dropdown"><a href="#"><span>Consultas en línea</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
            <ul>
              <li><a href="#">Indice de Propiedades</a></li>
              <li><a href="#">Indice de Comercio</a></li>
            </ul>
          </li>
        </ul>
      </nav><!-- .navbar -->

      <a class="btn-book-a-table" href="#book-a-table">Crear Cuenta</a>
      <a class="btn-book-a-table" href="#book-a-table">Iniciar Sesión</a>
      <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
      <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>

    </div>
  </header><!-- End Header -->
  <main>
    
      <img class="d-block mx-auto mb-4" src="imagenes/LogoCBR.png" alt="" width="25%" height="25%">

    </div>
    <section class="d-flex justify-content-center">
      <div class="formulario">
          <div class="mb-3">
              <h3 class="display-5 text-center ">Formulario de Registro de Usuarios</h3>
          </div>
  
          <form class="row g-3 mt-3">
              <div class="col-6">
                  <label for="inputName" class="form-label">Primer Nombre.</label>
                  <input type="name" class="form-control" id="inputName"placeholder="Escribe tu Primer Nombre.">
              </div>
      
              <div class="col-6">
                  <label for="inputSecondName" class="form-label">Segundo Nombre.</label>
                  <input type="name" class="form-control" id="inputSecondName"placeholder="Escribe tu Segundo Nombre.">
              </div>
      
              <div class="col-6">
                  <label for="inputLastName" class="form-label">Primer Apellido.</label>
                  <input type="name" class="form-control" id="inputLastName"placeholder="Escribe tu Primer Apellido.">
              </div>
      
              <div class="col-6">
                  <label for="inputSecondLastName" class="form-label">Segundo Apellido.</label>
                  <input type="name" class="form-control" id="inputSecondLastName"placeholder="Escribe tu Segundo Apellido.">
              </div>
      
              <div class="col-6">
                  <label for="inputRUT" class="form-label">RUT de Usuario.</label>
                  <input type="name" class="form-control" id="inputRUT"placeholder="Escribe tu RUT.">
              </div>
      
              <div class="col-6">
                  <label for="inputPhone" class="form-label">Teléfono de Contacto.</label>
                  <input type="name" class="form-control" id="inputPhone"placeholder="Escribe tu Teléfono de Contacto.">
              </div>
      
              <div class="col-12">
                  <label for="emailInput" class="form-label">Correo Electrónico.</label>
                  <input type="name" class="form-control" id="emailInput"placeholder="Correo Electrónico.">
              </div>
      
              <div class="col-12">
                  <label for="inputPass" class="form-label">Contraseña.</label>
                  <input type="password" class="form-control" id="inputPass"placeholder="Contraseña.">
              </div>
      
              <div class="col-3">
                  <div class="form-check">
                      <label for="checkUser" class="form-label">Recepcionista.</label>
                      <input type="checkbox" class="form-check-input" id="checkUser">
                  </div>
              </div>
      
              <div class="col-3">
                  <div class="form-check">
                      <label for="checkUser2" class="form-label">Trabajador.</label>
                      <input type="checkbox" class="form-check-input" id="checkUser2">
                  </div>
              </div>
      
              <div class="col-3">
                  <div class="form-check">
                      <label for="checkUser3" class="form-label">Moderador.</label>
                      <input type="checkbox" class="form-check-input" id="checkUser3">
                  </div>
              </div>
              
            
  
              <div class="col-12">
                  <button type="submit" class="btn btn-primary">Registrar Usuario</button>
              </div>
          </form>
        </div>
    </section>
  </main>
  
  <br>
  <br>
  <br>
  <footer>
    <p class="copyright">&copy Copyright Ministerio de Vivienda y Urbanismo - 2022</p>
  </footer>
</body>
</html>