{% extends 'templates\base.html' %}
{% load static %}
{% block content %}
<html lang="es">
<head>
  <link rel="stylesheet" href="{% static 'css/editarCliente.css' %}">

  <link rel="stylesheet" href="{% static 'css\styles_inicio.css' %}">
  
</head>
<main>
  <main>
    <form class="formulario" action="/edicionCliente/" method="post">
        {% csrf_token %}
        <div class="titulo">
          <h1>Editar Datos de Perfil</h1>
        </div>
            
        <div class="contenedor">
            {% if messages %}
                <ul class="messages">
                {% for message in messages %}
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endfor %}
                </ul>
            {% endif %}
        
            <input type="hidden" name="rut" value="{{usucliente.username}}">
            <!-- <div class="input-contenedor">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
                <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3Zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z"/>
              </svg>
              <label for="validationDefault01" class="form-label">Nombre:</label>
              <label for="validationDefault01" class="form-label">{{cliente.primer_nombre}}</label>
            </div> -->

            <!-- <div class="input-contenedor">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
                <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3Zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z"/>
              </svg>
                <input type="text" name="Segundo_Nombre" value="{{Usuario.segundo_nombre}}" placeholder="Segundo Nombre">
            </div> -->

            <!-- <div class="input-contenedor">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
                <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3Zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z"/>
              </svg>
              <label for="validationDefault01" class="form-label">Apellido:</label>
              <label for="validationDefault01" class="form-label">{{cliente.primer_apellido}}</label>
            </div> -->

            <div>
              <label>Telefono Actual:</label>
              <label for="">{{cliente.telefono}}</label>
            </div>

            <!-- <div class="input-contenedor">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
                <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3Zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z"/>
              </svg>
                <input type="text" name="Segundo_Apellido" value="{{usucliente.segundo_apellido}}" placeholder="Segundo Apellido">
            </div> -->

            <div class="input-contenedor">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-telephone-fill" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z"/>
              </svg>
                <input type="tel" name="Telefono" value="" placeholder="Nuevo Teléfono" id="validationDefault04" required>
            </div>
            <div>
              <label>Correo Actual:</label>
              <label for="">{{cliente.correo_electronico}}</label>
            </div>


            <div class="input-contenedor">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope-fill" viewBox="0 0 16 16">
                <path d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555ZM0 4.697v7.104l5.803-3.558L0 4.697ZM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586l-1.239-.757Zm3.436-.586L16 11.801V4.697l-5.803 3.546Z"/>
              </svg>
                <input type="email" name="Correo" value="" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Nuevo Correo" id="validationDefault04" required>
            </div>

            <div class="input-contenedor">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-lock-fill" viewBox="0 0 16 16">
                <path d="M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2zm3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2z"/>
              </svg>
                <input type="password" name="c" value="{{usucliente.contrasenna}}" placeholder="Contraseña" id="validationDefault05" required>
            </div>

            <div>
                <input type="submit" name="editar" value="Editar Perfil" class="button">              
          </div>
        </div>
    </form>
        
</main>
  </div>
</main>

{% endblock %}