<!-- FORMULARIO DE SUBSCRIPCIÓN Y/O DONACION-->
{% load static %}
<head>
    <title>Formulario de Consultas</title>
    <link rel="stylesheet" href="static/css/styles_inicio.css">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
    
    <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Amatic+SC:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Inter:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="static/css/main.css" rel="stylesheet">
  <link rel="stylesheet" href="static/css/reset.css">
  <link rel="stylesheet" href="static/css/main.css">
  <!-- CSS only -->
  <script src="https://kit.fontawesome.com/eb496ab1a0.js" crossorigin="anonymous"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="static/css/styles_inicio.css">
</head>

<header id="header" class="header fixed-top d-flex align-items-center">

    <div class="container d-flex align-items-center justify-content-between">

      <a href="home" class="logo d-flex align-items-center me-auto me-lg-0">
        <h1>CBRS de Chile<span>.</span></h1>
      </a>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a href="#hero">Inicio</a></li>
          <li><a href="#about">Misión</a></li>
          <li><a href="#menu">Contacto</a></li>
         
          <li class="dropdown"><a href="#"><span>Consultas en línea</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
            <ul>
              <li><a href="#">Indice de Propiedades</a></li>
              <li><a href="#">Indice de Comercio</a></li>
            </ul>
          </li>
        </ul>
        {% if user.is_authenticated %}
        <div class="dropdown">
            <button class="btn dropdown-toggle text-white" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                Bienvenido {{user.first_name}} {{user.last_name}}
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li><a href="{% url 'logout' %}" class="nav-link px-2 tdropdown-item" style="color: black;" class="Cerrar-Sesion">Cerrar Sesión</a></li>  
            </ul>
            
          </div>
          {% else %}
          <a class="btn-book-a-table" href="{% url 'registrarse' %}">Crear Cuenta</a>
          <a class="btn-book-a-table" href="{% url 'iniciar_sesion' %}">Iniciar Sesión</a>
          <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
          <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>
          {% endif %}
      </nav><!-- .navbar -->
    </div>
  </header><!-- End Header -->

<form class="row g-3" style="margin-left: 60px;margin-right: 60px;margin-bottom: 60px;margin-top: 100px;">
  <h1>Formulario de consultas</h1>
  {% csrf_token %}
  {% if mensaje %}
    <div class="alert alert-success" role="alert">
      A simple success alert—check it out!
    </div>
  {% endif %}
    <div class="col-md-4">
      <label for="validationDefault01" class="form-label">Nombre y Apellido</label>
      <input type="text" class="form-control" id="validationDefault01" value=" " required>
    </div>
    <div class="col-md-4">
      <label for="exampleInputEmail1" class="form-label">Correo electrónico</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
      <div id="emailHelp" class="form-text">Nunca compartiremos tus datos</div>
    </div>
    <div class="col-md-6">
      <label for="validationDefault03" class="form-label">Telefono</label>
      <input type="text" class="form-control" id="validationDefault03" required>
      <div id="telHelp" class="form-text">(9 Digitos)</div>
    </div>
    <div class="form-group">
      <label for="validationDefault04">Asunto Consulta.</label>
      <textarea class="form-control" id="validationDefault04" rows="1"></textarea>
    </div>
    <div class="form-group">
        <label for="validationDefault04">Consulta.</label>
        <textarea class="form-control" id="validationDefault04" rows="4"></textarea>
      </div>
    <div class="boton">
    <div class="col-12">
      <button class="btn btn-outline-success" type="submit"> <b>Enviar</b></button>
      <button class="btn btn-outline-success" type="button" onclick="resetform()"> <b>Limpiar</b></button>
    </div>
    <script>
      function resetform() {
      $("form select").each(function() { this.selectedIndex = 0 });
      $("form input[type=text] , form textarea").each(function() { this.value = '' });
      }
    </script>
    </div>
  </form>

  <div class="whatsapp">
    <a href="https://wa.me/+56946411039?text=Buenas, tengo una consulta" class="btn-wsp" target="_blank">
        <i class="fa fa-whatsapp icono"></i>
    </a>
</div>
  <!-- FIN DEL FORMULARIO DE DONACION Y/O SUBSCRIPCIÓN-->