<!doctype html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
    
    <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Amatic+SC:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Inter:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="static/css/main.css" rel="stylesheet">
  <link rel="stylesheet" href="static/css/reset.css">
  <link rel="stylesheet" href="static/css/styles_inicio.css">
  <link rel="stylesheet" href="static/css/main.css">
  <!-- CSS only -->
  <script src="https://kit.fontawesome.com/eb496ab1a0.js" crossorigin="anonymous"></script>
</head>
 
<body>

  <header id="header" class="header fixed-top d-flex align-items-center">

    <div class="container d-flex align-items-center justify-content-between">

      <a href="inicio.html" class="logo d-flex align-items-center me-auto me-lg-0">
        <h1>CBRS de Chile<span>.</span></h1>
      </a>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a href="#hero">Inicio</a></li>
          <li><a href="#about">Misión</a></li>
          <li><a href="#menu">Contacto</a></li>
          <li class="dropdown"><a href="#"><span>Trámites en línea</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
            <ul>
              <li><a href="#">Inscripción de Propiedad</a></li>
              <li><a href="#">Inscripción de Comercio</a></li>
              <li><a href="#">Estudio de títulos (10 años)</a></li>
              <li><a href="#">Copia de Inscripción de propiedad o comercio con Vigencia</a></li>
              <li><a href="#">Copia de Inscripción de propiedad o comercio sin Vigencia</a></li>
              <li><a href="#">Certificado de Hipotecas, Gravámenes y Prohibiciones</a></li>
              <li><a href="#">Certificado de Deslindes</a></li>
            </ul>
          </li>
          <li class="dropdown"><a href="#"><span>Consultas en línea</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
            <ul>
              <li><a href="#">Indice de Propiedades</a></li>
              <li><a href="#">Indice de Comercio</a></li>
            </ul>
          </li>
        </ul>
      </nav><!-- .navbar -->

      <a class="btn-book-a-table" href="#book-a-table">Crear Cuenta</a>
      <a class="btn-book-a-table" href="{% url 'login' %}">Iniciar Sesión</a>
      <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
      <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>

    </div>
  </header><!-- End Header -->
  <main>
    <div class="px-4 py-5  text-center">
      <img class="d-block mx-auto mb-4" src="/unionline/Controlador/imagenes/LogoCBR.png" alt="" width="25%" height="25%">
      <h1 class="display-5 fw-bold">Elige tu conservador</h1>
      <br>
      <div class="buscador">
        <div class="input-group">
          <select class="form-select form-select-lg mb-3" aria-label="Default select example">
            <option selected>Región</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
          <br>
          <select class="form-select form-select-lg mb-3" aria-label="Default select example">
            <option selected>Provincia</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
          <select class="form-select form-select-lg mb-3" aria-label="Default select example">
            <option selected>Comuna</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
        </div>
        <select class="form-select form-select-lg mb-3" aria-label="Default select example">
          <option selected>Conservador</option>
          <option value="1">One</option>
          <option value="2">Two</option>
          <option value="3">Three</option>
        </select>
        <br>
      </div>
      
      <br>
      <div class="col-lg-6 mx-auto">
          <button type="button" class="btn btn-primary btn-lg px-4 gap-3">Seleccionar</button>
        </div>
      </div>
    </div>
    <div class="whatsapp">
        <a href="https://wa.me/+56946411039?text=¡Otakuuuuuuuuu!" class="btn-wsp" target="_blank">
            <i class="fa fa-whatsapp icono"></i>
        </a>
    </div>
  </main>
  <footer>
    <p class="copyright">&copy Copyright Ministerio de Vivienda y Urbanismo - 2022</p>
  </footer>
</body>
</html>