{% extends 'templates\base.html' %}
{% load static %}
{% block content %}
<head>
    <title>Listar trámites</title>
    <!--- CSS --->
    <link rel="stylesheet" href="{% static 'css\listar.css' %}">
</head>
<br><br><br><br><br><br><br><br>
<main>
    <div class="container text-center">
        <div class="row">
            {% for t in tramite %}
            <div class="col">
                <div class="card" style="width: 15rem;">
                    <div class="card-body">
                        <h5 class="card-title">{{t.nombre_tramite}}</h5>
                        <br>
                        <p class="card-text">{{t.descripcion}}</p>
                        <br>
                        <p class="card-text">Valor: ${{t.valor_tramite}}.</p>
                        <br>
                        <a href="{% url 'solicitar' id=t.pk %}" class="card-link">Solicitar</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</main>

<br><br><br><br><br>

{% endblock %}