{% extends 'templates\base.html' %}
{% load static %}
{% block content %}
<head>
    <title>Listar trámites</title>
    <!--- CSS --->
    <link rel="stylesheet" href="{% static 'css\listar.css' %}">
</head>
<br><br><br><br><br><br><br><br>
<main>
    <div class="container">
        <div class="row">
            <!-- Elementos generados a partir del JSON -->
            <main id="items" class="col-sm-8 row">
                {% for t in tramite %}
                <div class="card" style="width: 15rem;">
                    <div class="card-body">
                        <h5 class="card-title">{{t.nombre_tramite}}</h5>
                        <br>
                        <p class="card-text">{{t.descripcion}}</p>
                        <br>
                        <p class="card-text">Valor: ${{t.valor_tramite}}.</p>
                        <br>
                        <a href="{% url 'solicitar' id=t.pk %}" class="card-link">Solicitar</a>
                    </div>
                </div>
            {% endfor %}
            </main>
            <!-- Carrito -->
            <aside class="col-sm-4">
                <h2>Carrito</h2>
                <!-- Elementos del carrito -->
                <ul id="carrito" class="list-group"></ul>
                <hr>
                <!-- Precio total -->
                <p class="text-right">Total: <span id="total"></span>$</p>
                <button id="boton-vaciar" class="btn btn-danger">Vaciar</button>
            </aside>
        </div>
    </div>
</main>

<br><br><br><br><br>

{% endblock %}