{% extends 'templates\base.html' %}
{% load static %}
{% block content %}
  <head>
    <title>Perfil</title>
    <link rel="stylesheet" href="static/css/perfil-cliente.css">
</head>
    <Main>
      <div class="px-4 py-5  text-center">
        <img class="d-block mx-auto mb-4" src="{% static 'imagenes\LogoCBR.png' %}" alt="" width="15%" height="15%">
        <h3 class="display-5 fw-bold">Historial de trámites</h3>
        <br>
        
        <div>
          
          <div class="tabla">
            <table name= "tabla-historial"class="table table-striped">
                <thead  class="table-dark">
                  <tr>
                    <th scope="col">Nombre del trámite</th>
                    <th scope="col">N° Seguimiento</th>
                    <th scope="col">Estado solicitud</th>
                    <th scope="col">Detalle</th>
                  </tr>
                </thead>
                <tbody>
                  {% for t in tramite %}
                    <tr>
                      <td>{{t.nombre_tramite}}</td>
                      <td>{{t.numero_seguimiento}}</td>
                      <td>{{t.estado}}</td>
                      <td>
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                          Detalles
                        </button>

                        <!-- Modal -->
                        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                          <div class="modal-dialog">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Detalle solicitud: {{t.numero_seguimiento}}</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                              </div>
                              <div class="modal-body">
                                Valor: {{t.valor_tramite}}

                                  {% for d in documento %}
                                  
                                  {% if t.estado == "Aprobado" %}
                                  Descargar Trámite: <a href="{{d.doc.pdf}}" type="pdf"  download=" ">{{d.nombre_doc}}</a> <br><br>

                                  Enviar por mail:  <div class="input-contenedor">
                                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope-fill" viewBox="0 0 16 16">
                                    <path d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555ZM0 4.697v7.104l5.803-3.558L0 4.697ZM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586l-1.239-.757Zm3.436-.586L16 11.801V4.697l-5.803 3.546Z"/>
                                  </svg>
                                    <input type="email" name="Correo" value=" " placeholder="Correo Electrónico">
                                  </div>
                
                                  <div>
                                      <input type="submit" name="Enviar" value="Enviar" class="button">
                                    
                                  
                              </div>
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </td>
                    </tr>
                    {% endif %}
                    {% endfor %}
                  {% endfor %}
                </tbody>
            </table>
          </div>
        </div> 
      </div>
    </Main>
    <div class="whatsapp">
      <a href="https://wa.me/+56946411039?text=Buenas, tengo una consulta" class="btn-wsp" target="_blank">
          <i class="fa fa-whatsapp icono"></i>
      </a>
  </div>
    
  {% endblock %}
