{% extends 'paginas/base.html' %}
{% load static %} 

<body>
    {% block contenido%}
    <br>
    <br>
    <div class="d-grid gap-2 col-6 mx-auto">
        <span class="border border-primary" class="text-center">
            <p class="text-center">
                <br>   
                <br> 
            Datos de transferencia: 
            <br>
            <br>
            Rut: 77.777.777-7
            <br>
            Banco: Del patito
            <br>
            Tipo Cuenta: Corriente
            <br>
            N° Cuenta: 000-235-254698
            <br>
              
            <br>
            SU COMPRA SERÁ PROCESADA SÓLO CUANDO SE CONFIRME LA TRANSFERENCIA
            </p>
            <br>
            <br>
            
            
            
        </span>
      
      
      
      
        <br>
    </div>

    <br><br><br>
    {% endblock %}	  
</body>
</html>