footer{
    position: fixed; bottom: 0; width: 100%;
    background-color: #1E4D40;
    text-align: center;
    padding:40px;
    color: white;
}

.card{
    margin: 50px;
}

.formulario{
    margin: 10% 10% 10% 25%;
    padding: 3px;
    background: rgb(255, 255, 255);
    border: 2mm;
    border-radius: 10px;
    max-width: 50%;
}

