body{
    background-color: #F0F2F2;
}
footer{
    position: static; bottom: 0; width: 100%;
    background-color: #010326 !important;
    text-align: center;
    padding:40px;
    color: white;
}

header{
    background-color: #010326;
    margin-top: 0px;
    min-height: 100px;
}

.navbar{
    padding-top: 20px !important;
    --bs-navbar-hover-color: rgba(145, 140, 140, 0.7);
    font-size: 110%;
}
.navbar-brand{
    color: #F0F2F2 !important;
    font-size: 200% !important;
}
.formulario{
    margin-top: 150px;
    padding: 3px;
    margin-bottom: 140px;
    background: white;
    box-shadow: 0 0 4px rgba(0,0,0,0.4);
}
a{
    color: #F0F2F2;
}
h1{
    padding: 10px;
    text-align: center;
    color: #1A2537;
    font-size: 30px;
}
input[type="text"],
input[type="password"]{
      font-size: 20px;
      width: 82%;
      padding: 10px;
      border: none;
}
.input-contenedor{
    margin-bottom: 50px;
}
.icon{
    min-width: 50px;
    text-align: center;
    color: #999;
}
.button{
    border: none;
    width: 100%;
    color: white;
    font-size: 20px;
    padding: 15px 20px;
    border-radius: 5px;
    cursor: pointer;
    background-color: #1A2537;
}

@media (min-width:768px) 
{
    .formulario{
      margin: auto;
      width: 500px;
      margin-top: 200px;
      border-radius: 2%;
      margin-bottom: 150px;
    }
}