Estimado/a {{user.first_name}} {{user.last_name}}.

Se ha solicitado el cambio de contraseña de su cuenta de nuestro sitio CBR Chile. Haga click en el siguiente enlace adjunto para proceder al cambio de contraseña. 

Recuerda que tu contraseña debe contener al menos un carácter en mayúsculas, carácteres en minúsculas, números y un carácter especial (. - + @)


{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
{% endblock %}
_________________________________________________________

Conservador De Bienes Raíces Chile
Gobierno de Chile
Ministerio de Vivienda y Urbanismo | Gobierno de Chile 