{% extends 'templates\base_admin.html' %}
{% load static %}
{% block content %}

<head>
    <link rel="stylesheet" href="{% static 'css/correo.css' %}">
    <div class="px-4 py-5  text-center">
        <img class="d-block mx-auto mb-4" src="{% static 'imagenes\LogoCBR.png' %}" alt="" width="15%" height="15%">
        <h3 class="display-5 fw-bold">Recuperar Contraseña</h3>
        <br>
    <div>
</head>

{% if validlink %}


<form method="post">
{% csrf_token %}

<div class="contra_nueva">
    <br>
    {{ form.new_password1.errors }}
    <label name="nuevacontra" for="id_new_password1">Nueva contraseña: </label>
    <br>
    {{ form.new_password1 }}

    {{ form.new_password2.errors }}
    <br>
    <br><br>
    <label name="nuevacontra" for="id_new_password2">Confirme contraseña: </label>
    <br>
    {{ form.new_password2 }}
    <br>
    <br>
    <input type="submit" class="btn btn-primary" value="Actualizar contraseña.">

</div>

</form>

{% else %}

<h1 class="text-center"> ENLACE INVÁLIDO: ESTE ENLACE YA HA SIDO UTILIZADO </h1>

{% endif %}

{% endblock %}