{% extends 'templates\base_admin.html' %}
{% load static %}
{% block content %}

<head>
    <link rel="stylesheet" href="{% static 'css/correo.css' %}">
    <div class="px-4 py-5  text-center">
        <img class="d-block mx-auto mb-4" src="{% static 'imagenes\LogoCBR.png' %}" alt="" width="15%" height="15%">
        <h3 class="display-5 fw-bold">Recuperar Contraseña</h3>
        <br>
        <h1 class="text-center">Su contraseña se restableció correctamente</h1>
    <div>
</head>


<br></br>
<p class="text-center"> <a href="{% url 'iniciar_sesion' %}">Iniciar Sesión</a></p>

{% endblock %}