{% extends 'templates\base_admin.html' %}
{% load static %}
{% block content %}
<head>
    <link rel="stylesheet" href="{% static 'css/correo.css' %}">
    <div class="px-4 py-5  text-center">
        <img class="d-block mx-auto mb-4" src="{% static 'imagenes\LogoCBR.png' %}" alt="" width="15%" height="15%">
        <h3 class="display-5 fw-bold">Recuperar Contraseña</h3>
        <br>
        <h1>Ingrese su con el que se encuentra registrado en el sistema.</h1>
    <div>
</head>

    

<form method="post">
    {% csrf_token %}
    <label for="id_email" class="text-box">Correo: </label> {{ form.email }}
    <input type="submit" class="btn btn-primary" value="Enviar">
</form>

{% endblock %}