.container_tabla{
    margin-top: 250px;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 400px;


}
footer{
    background-color: #1E4D40;
    text-align: center;
    padding:40px;
    color: white;
}