.buscador{
    padding: 0 20%;
    margin: 0 15%;
}
.btn {
    background-color: #F0F2F2;
    border-color: #393E59;
    color: #393E59;
  }
.btn:hover{
    background-color: #393E59;
    border: #393E59;
}
.tabla{
    padding: 2% 15%;
}
footer{
    background-color: #1E4D40;
    text-align: center;
    padding:40px;
    color: white;
}
main{
    background-color: #ebf3f1;
}
