.buscador{
    padding: 0 20%;
    margin: 0 15%;
}
.btn {
   background-color: rgb(255, 255, 255);
   border-color: #1E4D40;
   color: #1E4D40;
  }
.btn:hover{
    background-color: #1E4D40;
    border: #1E4D40;
}
.tabla{
    padding: 2% 15%;
}
footer{
    background-color: #1E4D40;
    text-align: center;
    padding:40px;
    color: white;
}
main{
    background-color: #ebf3f1;
    color: #1E4D40;
}
