.formulario{
    padding: 0 20%;
}
.btn {
    background-color: #F0F2F2;
    border-color: #393E59;
    color: #393E59;
    margin-top: 23px;
  }
.btn:hover{
    background-color: #393E59;
    border: #393E59;
}
footer{
    background-color: #1E4D40;
    text-align: center;
    padding:40px;
    color: white;
}
